In [5]:
library(SparkR, lib.loc = c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib")))
sparkR.session(master = "local[*]")

Java ref type org.apache.spark.sql.SparkSession id 1

In [6]:
data <- file.path('', 'home','spark','pu_workshop','kmeans_data.csv')

In [7]:
data_df <- read.df(
    data, 
    header='true', 
    source = "com.databricks.spark.csv", 
    inferSchema='true')

In [8]:
head(data_df)

  x         y           cluster
1 -1.486033 -0.22116824 1
2 -1.546630  0.45674134 1
3 -1.862865  0.20417561 1
4 -1.557345 -0.33094981 1
5 -2.955578  0.08726702 1
6 -2.217554 -0.13822433 1

In [13]:
printSchema(data_df)

root
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)
 |-- cluster: integer (nullable = true)

In [11]:
kmeansModel <- spark.kmeans(data_df, ~ x + y,k = 3)

In [12]:
summary(kmeansModel)

$k
[1] 3

$coefficients
  x           y
1 -0.08700363 1.048981
2 1.629357    0.1395087
3 -1.97239    0.01614087

$size
$size[[1]]
[1] 26

$size[[2]]
[1] 34

$size[[3]]
[1] 30


$cluster
SparkDataFrame[prediction:int]

$is.loaded
[1] FALSE

In [14]:
library(ggplot2)

In [16]:
housing_region_df_local <- collect(select(data_df,"x","y"))

In [18]:
head(housing_region_df_local)

  x         y
1 -1.486033 -0.22116824
2 -1.546630  0.45674134
3 -1.862865  0.20417561
4 -1.557345 -0.33094981
5 -2.955578  0.08726702
6 -2.217554 -0.13822433